

.App {
  width: 100%;
  text-align: left;
  align-content: center;
  position: relative;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

#main {
  margin-bottom: 0px;
  /*border-top: #656565 solid 2px;*/
  /*padding-left: 100px;*/
  /*color: #ece9e1;*/
  color: transparent;
  font-family: nostromo-oblique-bold, serif;

}

.default-stroke {
  -webkit-text-stroke: 3px #1a1a1a;
}

.pastel-green-stroke {
  -webkit-text-stroke: 3px #7bca91;
}

.pastel-red-stroke {
  -webkit-text-stroke: 3px #df7370;
}

.pastel-blue-stroke {
  -webkit-text-stroke: 3px #85d1cf;
}

.pastel-yellow-stroke {
  -webkit-text-stroke: 3px #f8cc83;
}

.pastel-orange-stroke {
  -webkit-text-stroke: 3px #f39e73;
}

.pastel-purple-stroke {
  -webkit-text-stroke: 3px #9ca3db;
}

.pastel-pink-stroke {
  -webkit-text-stroke: 3px #e4afcb;
}

/*.ellipsis-top {*/
/*  overflow: hidden;*/
/*  height: 5vw;*/
/*  line-height: 5vw;*/
/*  margin-right: 78.7%;*/
/*  margin-left: 5%;*/
/*  border-top: 5px solid #383838;*/
/*  border-right: 5px solid #383838;*/
/*}*/

/*.ellipsis-bottom {*/
/*  !*background-color: white;*!*/
/*  overflow: hidden;*/
/*  height: 5vw;*/
/*  line-height: 5vw;*/
/*  margin-right: 68.5%;*/
/*  margin-left: 5%;*/
/*  border-top: 5px solid #383838;*/
/*  border-right: 5px solid #383838;*/
/*  border-image:   linear-gradient(to right, transparent 16.17vw, #383838 0.5vw) 5;*/
/*}*/

#container {

}

#test {
  color: #85d1cf;
  /*width: 100%;*/
  /*height: 100%;*/
  position: absolute;
  /*top: 0;*/
  /*left: 0;*/
  top: 50%;
  left: 50%;
}
#infoi {
  z-index: 10;
}

#test {
  font-family: nostromo-regular-medium, serif;
  font-size: 50px;
}

#mainbox {
  background-color: rgba(236, 233, 225, 0);
  /*background: rgba(18, 18, 18, 0.33);*/
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(50px);
  text-align: center;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*padding: 10px;*/
  border: 2px solid #1a1a1a;
  border-radius: 5px;

}

#main-outline {
  padding: 0 20px 0 20px;
  margin-top: 0px;
  /*border-top: #656565 solid 2px;*/
  color: #1a1a1a;
  font-family: nostromo-oblique-bold-outline, serif;
  /*-webkit-text-stroke: 0.1vw #7bca91;*/
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ece9e1;
  /*background-image: url("Backgrounds/sepia-plasterboard-texture.jpg");*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: first;
  justify-content: center;
  font-size: 85px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*.paper-background {*/
/*  z-index: 998;*/
/*  opacity: .3;*/
/*  background-image: url(https://uploads-ssl.webflow.com/5f2429f172d117fcee10e819/614f353f1e11a6a7afdd8b74_6059a3e2b9ae6d2bd508685c_pt-texture-2.jpg);*/
/*  background-position: 10%;*/
/*  background-size: auto;*/
/*  position: absolute;*/
/*  top: 0%;*/
/*  bottom: 0%;*/
/*  left: 0%;*/
/*  right: 0%;*/
/*  mix-blend-mode: multiply;*/
/*  pointer-events: none;*/
/*}*/

/* Font Declarations: */

@font-face {
  font-family: aqua;
  src: url("Fonts/aqua.ttf");
}

@font-face {
  font-family: henrik;
  src: url("Fonts/Henrik-Regular.otf");
}

@font-face {
  font-family: antone-clean;
  src: url("Fonts/Antone Clean.woff");
}

@font-face {
  font-family: antone-block;
  src: url("Fonts/Antone Block.woff");
}

@font-face {
  font-family: antone-extrude;
  src: url("Fonts/Antone Extrude.woff");
}

@font-face {
  font-family: antone-outline;
  src: url("Fonts/Antone Outline.woff");
}

@font-face {
  font-family: antone-rough;
  src: url("Fonts/Antone Rough.woff");
}

@font-face {
  font-family: antone-shadow-strip;
  src: url("Fonts/Antone Shadow Strip.woff");
}

@font-face {
  font-family: mooonlite-solid;
  src: url("Fonts/Moonlite Solid.ttf");
}

@font-face {
  font-family: champ-regular;
  src: url("Fonts/THECHAMPDEMORegular.ttf");
}

@font-face {
  font-family: mammoth;
  src: url("Fonts/Mammoth.ttf");
}

@font-face {
  font-family: nostromo-oblique-bold;
  src: url("Fonts/Nostromo/NostromoOblique-Black.otf");
}

@font-face {
  font-family: nostromo-oblique-bold-outline;
  src: url("Fonts/Nostromo/NostromoOblique-Black.otf");
}

@font-face {
  font-family: nostromo-regular-medium;
  src: url("Fonts/Nostromo/NostromoRegular-Medium.otf");
}